# Stuff That is Not Language Specific
# IDE and Text Editor files
/.idea
/.vscode
/.vs

# Discription Text Files for Future Functions
todo.txt

# Jetbrains CLion
/cmake-build-debug

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Python Implementaion

# Virtual Environment
venv

# Cache
__pycache__

# Build Details Files
*.spec


# CXX Implementation

# Build Folder
#CMAKE
/build
CPP/CMakeFiles/

# Visual Studio
/bin

# Intermediates Folder
/x64