# Virtual Environment
venv

# Cache
__pycache__

# IDE and Text Editor files
.idea
.vscode

# Build Details Files
build
*.spec

# Discription Text Files for Future Functions
todo.txt


# Miscellaneous
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/x64
/bin
/.vs